doctype html
html(ng-app="myApp")
<<<<<<< HEAD
	head
		meta(charset='utf8')
		base(href='/')
		title Angular Express Seed App
		link(rel='stylesheet', href='/css/app.css')
	body
		block body
=======
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
>>>>>>> c7c7e25c8a5e52436686d4f454fc2dfd72e6ca36
